body {
	background: transparent;
}

#login, #signup {
	height: 3em;
    width: 9em;
    border-radius: 25px;
    border: #000033 solid 2px;
    background-color: transparent;
    margin-top: 2em;
    color: #000033;
}

#login:hover, #signup:hover {
	background: white;
	opacity: .7;
}


#box {
	position: absolute;
	height: 20em;
	width: 100%;
    background: #fff;
    opacity: .5;
    top: 22%;
}

#intro-text {
	position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   top: 25%;
   left: 30%;
   color: #000033;
   font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 3em;
}

	.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('tennis-img.jpg') center center / cover no-repeat;
  }

#intro-text {
	left: 0;
}  

h3 {
	text-align: center;
	margin: 1em 1em 0;
}

  .fullscreen-bg__video {
    display: none;
  }
}

.facebookBtn {
  text-align: center;
}